/* Add your code in each class */
body {
  background-color: rgb(42, 6, 76);
}
.container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.movie-card {
  width: 300px;
  height: 400px;
  background-color: rgb(255, 255, 255);
  border-radius: 10px;
  margin: 10px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);

}
.movie-image {
  width: 100%;
  height: 300px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  background-size: cover;
  background-position: center;
  
}
.movie-details-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.descriptions {
  width: 300px;
  height: 100px;
  background-color: rgb(255, 255, 255);
  border-radius: 10px;
  margin: 10px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
}

/*A gift from us!*/
.movie-shadow {
  /*
    This gradient was made by this website https://cssgradient.io/
*/
  position: absolute;
  height: 100%;
  width: 100%;
  background: rgb(0, 0, 0);
  background: linear-gradient(
    0deg,
    rgba(0, 0, 0, 0.75) 0%,
    rgba(0, 0, 0, 0) 100%
  );
}
.movie-title {
  font-size: 20px;
  font-weight: bold;
  color: rgb(0, 0, 0);
  text-align: center;
}
